{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>[corp] Kickstart</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.min.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">Kickstart!</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if not user.is_authenticated %}
                        <li {% block SignupView %}{% endblock %}><a href="{% url 'human:create' %}">Sign-Up!</a></li>
                        <li {% block LoginView %}{% endblock %}><a href="{% url 'human:login' %}">Login</a></li>
                        {% else %}
                        <li {% block UserProfile %}{% endblock %}><a href="{% url 'human:index' %}">{{ user }}</a></li>
                        <li><a href="{% url 'human:logout' %}">Logout</a></li>
                        {% endif %}
                        <li><a href="{% block help_url %}{% endblock %}">Help</a></li>
                        <li><a href="{% url 'recent:index' %}">Recent</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <li {% block ClientIndex %}{% endblock %}>      <a href="{% url 'client:index' %}">Kickstart Clients</a></li>
                        <li {% block ClientCreateView %}{% endblock %}> <a href="{% url 'client:create' %}">Add a system to kickstart</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li {% block VLANIndex %}{% endblock %}>        <a href="{% url 'vlan:index' %}">Kickstart VLANs</a></li>
                        <li {% block VLANCreateView %}{% endblock %}>   <a href="{% url 'vlan:create' %}">Add a VLAN to kickstart</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            {{ message|linebreaksbr }}
                        </div>
                    {% endfor %}

                    <h1 class="page-header">{% block dashboardtitle %}{% endblock %}</h1>

                    {% block content %} {% endblock %}

                    <!-- Bootstrap core JavaScript
                    ================================================== -->
                    <!-- Placed at the end of the document so the pages load faster -->
                    <script src="{% static 'js/jquery.min.js' %}"></script>
                    <script src="{% static 'js/bootstrap.min.js' %}"></script>
                    <script src="{% static 'js/docs.min.js' %}"></script>
                </div>
            </div>
        </div>
    </body>
</html>
