{% extends "Root.html" %}

{% block ClientIndex %} class="active"{% endblock %}

{% block dashboardtitle %}Client Detail{% endblock %}

{% block content %}
<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> </h3>
        </div>
        <div class="panel-body">
                <table class="table table-striped table-responsive table-condensed">
                    <tr><td class="text-right"><strong>Hostname:</strong></td><td>{{ object.name }}</td></tr>
                    <tr><td class="text-right"><strong>MAC Address:</strong></td><td> {{ object.mac }}</td></tr>
                    <tr><td class="text-right"><strong>IP / CIDR:</strong></td><td> {{ object.ip }} / {{ object.vlan.get_cidr_display }}</td></tr>
                    <tr><td class="text-right"><strong>VLAN</strong></td><td><a href="{{ object.vlan.get_absolute_url }}">{{ object.vlan }}</a></td></tr>
                    <tr><td class="text-right"><strong>Build Type</strong></td><td> {{ object.get_build_type_display }}</td></tr>
                    <tr><td class="text-right"><strong>OS</strong></td><td> {{ object.get_os_release_display }}</td></tr>
                    <tr><td colspan=2><h4>Notes:</h4>{{ object.notes|urlize|linebreaksbr }}</td></tr>
                    <tr>
                        <td class="text-left">
                            <a href="{% url 'client:update' pk=object.id %}" class="btn btn-md btn-info">Edit Client</a>
                            <a href="{% url 'client:kickstart' pk=object.id %}" class="btn btn-md btn-info">Edit ks.cfg</a>
                        </td>
                        <td class="text-right">
                            <a href="{% url 'client:delete' pk=object.id %}" class="btn btn-md btn-danger">Delete</a>
                        </td>
                    </tr>
                </table>
        </div>
    </div>
    <pre class="text-right">Added: {{ object.created }}<br>Last Modified: {{ object.modified }}</pre>
</div>
{% endblock content %}
