{% extends "Root.html" %}

{% block VLANIndex %} class="active"{% endblock %}

{% block dashboardtitle %}Edit a Kickstart VLAN{% endblock %}

{% block content %}
<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% if related %}<i>Some fields are disabled because the VLAN is being used by one or more clients.</i>{% endif %}</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post">
                <table class="table table-striped table-responsive table-condensed ">
                    <tr>
                        <td class="text-right"><strong>VLAN Number:</strong></td>
                        <td>{% if related %}
                                <input disabled="True" size="8" type="text" value="{{ object.name }}" />
                            {% else %}
                                {{ form.name }} <em>1 to 9999</em>
                            {% endif %}{{ form.name.errors }}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Network / CIDR:</strong></td>
                        <td>{% if related %}
                                <input disabled="True" size="15" type="text" value="{{ object.network }}" /> / <input disabled="True" size="2" type="text" value="{{ object.get_cidr_display }}" />
                            {% else %}
                                {{ form.network }} / {{ form.cidr }} <em>ex: "192.168.1.0 / 24"</em>
                            {% endif %} {{ form.network.errors }}{{ form.cidr.errors }}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Gateway:</strong></td>
                        <td>{% if related %}
                                <input disabled="True" size="15" type="text" value="{{ object.gateway }}" />
                            {% else %}
                                {{ form.gateway }} <em>Leave empty to just use lowest host.</em>
                            {% endif %} {{ form.gateway.errors }}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Kickstart Server IP</strong></td>
                        <td>{% if related %}
                                <input disabled="True" size="15" type="text" value="{{ object.server_ip }}" />
                            {% else %}
                                {{ form.server_ip }} <em>(The IP that the kickstart server will use, not the client IP){{ form.server_ip.errors }}</em>
                            {% endif %}</td>
                    </tr>
                    <tr><td colspan=2><h4>Notes:</h4>{{ form.notes }}</td></tr>
                    <tr>
                        <td class="text-left"><a href="{{ object.get_absolute_url }}" class="btn btn-sm btn-info">Cancel</a></td>
                        <td class="text-right"><input type="submit" class="btn btn-sm btn-success" value="Save Changes!" />{% csrf_token %}</td></tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="col-sm-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">CIDR to QuadDot</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-responsive table-condensed ">
                <tr><td>/28 </td><td> 255.255.255.240</td></tr>
                <tr><td>/27 </td><td> 255.255.255.224</td></tr>
                <tr><td>/26 </td><td> 255.255.255.192</td></tr>
                <tr><td>/25 </td><td> 255.255.255.128</td></tr>
                <tr><td>/24 </td><td> 255.255.255.0</td></tr>
                <tr><td>/23 </td><td> 255.255.254.0</td></tr>
                <tr><td>/22 </td><td> 255.255.252.0</td></tr>
                <tr><td>/21 </td><td>255.255.248.0</td></tr>
                <tr><td>/20 </td><td>255.255.240.0</td></tr>
                <tr><td>/19 </td><td>255.255.224.0</td></tr>
                <tr><td>/18 </td><td>255.255.192.0</td></tr>
                <tr><td>/17 </td><td>255.255.128.0</td></tr>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
